<%- include('../includes/header') %>
<%- include('../includes/subheader') %>
<div class="welcome">
    <h1>Welcome username!</h1>
</div>
<div class="start">

</div>
<div class="options">
    <div class="box">
        
    </div>
    <div class="box">

    </div>
</div>
<%- include('../includes/footer') %>
