
<%- include('../includes/headerInicio') %>
<div class="Logo-Big">
    <h1>BrainPlay</h1>
    <h4>Solve Problems with AI</h4>
</div>
<div  class="Op-Login">
    <a class="Log">
        Login
    </a>
    <a class="Sign">
        Sign-up
    </a>
</div>
<div class="St">
    <h1>Statistics</h1>
</div>
<div class="Sq"> 
    <div class="Square">
        <h1>5000</h1>
        <h1>Total Users</h1>
    </div>
    <div class="Square">
        <h1>5000</h1>
        <h1>Total Braindstorm</h1>
    </div>
</div>
<div class="wchus">
    <h1>Why Choose Us?</h1>
    <div class="Sq-4"> 
        <div class="Square">
            <h1>5000</h1>
            <h1>Total Users</h1>
        </div>
        <div class="Square">
            <h1>5000</h1>
            <h1>Total Braindstorm</h1>
        </div>
        <div class="Square">
            <h1>5000</h1>
            <h1>Total Braindstorm</h1>
        </div>
        <div class="Square">
            <h1>5000</h1>
            <h1>Total Braindstorm</h1>
        </div>
    </div>
</div>
<div class="faq">
    <div class="faq-img">
        <img src="/images/651009.png">
    </div>
    <div class="faq-text">
        <div class="sel-box">
            <h3>Item 1</h3>
            <button class="toggle-btn">^</button>
        </div>
        <div class="sel-boxn">
            <h3>Conteúdo 1</h3>
        </div>

        <div class="sel-box">
            <h3>Item 2</h3>
            <button class="toggle-btn">^</button>
        </div>
        <div class="sel-boxn">
            <h3>Conteúdo 2</h3>
        </div>

        <div class="sel-box">
            <h3>Item 3</h3>
            <button class="toggle-btn">^</button>
        </div>
        <div class="sel-boxn">
            <h3>Conteúdo 3</h3>
        </div>

        <div class="sel-box">
            <h3>Item 4</h3>
            <button class="toggle-btn">^</button>
        </div>
        <div class="sel-boxn">
            <h3>Conteúdo 4</h3>
        </div>
    </div>
</div>
<div></div>
<div></div>
<div></div>
<div></div>
<%- include('../includes/footer') %>
