<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= caminho === "Contato" ? caminho : "MadDevWorks " + caminho %></title>
    <link href="/css/<%= caminho %>/meuEstilo.css" rel="stylesheet">
    <link href="/css/global.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bytesized&family=Jua&family=Oswald:wght@700&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
</head>
<body>
<header >
    <a href="/"><h1 class="logo" >BRAINPLAY</h1></a>
    
    <nav class="Menuu">
        <ul>
            <% pagesHome.forEach(pageHome => { %>
                <li><a  href="<%= pageHome.caminho %>"><%= pageHome.nome %></a></li>
            <% }); %>
        </ul>
    </nav>
    <a class="login" href="/Login">
        <h1  >Login</h1>
    </a>
    <a class="signup" href="/SignUp">
        <h1  >Sign-Up</h1>
    </a>
    
</header>